.about {
   background: #fff;
}

.about-container {
   grid-template-columns: repeat(2, 1fr);
   justify-content: space-between;
   align-content: start;
   column-gap: 3rem;
   padding-top: 5.25rem;
   padding-bottom: 2.5rem;
}

.about-description {
   grid-template-rows: repeat(3, auto);
   row-gap: 0;
   align-self: start;
}

.about-description h1 {
   font-family: 'Markazi Text', serif;
   font-size: 4rem;
   line-height: normal;
   font-weight: 500;
   color: #495E57;
}

.about-description h2 {
   font-family: 'Markazi Text', serif;
   font-size: 2.5rem;
   font-weight: 400;
   line-height: 1rem;
   color: #495E57;
}

.about-description p {
   text-align: justify;
   font-family: 'Karla', serif;
   font-size: 1.25rem;
   font-weight: 700;
   line-height: normal;
   margin-top: 2rem;
   color: #000;
}

.about-image-container {
   position: relative;
   overflow: hidden;
   min-height: 29rem;
}

.about-image {
   position: absolute;
   top:0;
   left:0;
   min-height: 21rem;
   min-width: 15rem;
   object-fit: cover;
   padding-top: 6rem;
}

.image-overlay {
   position: absolute;
   min-width: 15rem;
   min-height: 21rem;
   object-fit: cover;
   top: 0;
   right: 0;
}

@media (max-width: 37.5rem) {
   .about-container {
      grid-template-columns: 1fr;
      gap: 2rem;
      padding-top: 2.5rem;
   }

   .about-image-container {
      position: relative;
      overflow: hidden;
      min-height: 29rem;
   }

   .about-image {
      position: absolute;
      top: 0;
      left: 10%;
      min-height: 21rem;
      min-width: 15rem;
      object-fit: cover;
      padding-top: 6rem;
   }

   .image-overlay {
      position: absolute;
      min-width: 15rem;
      min-height: 21rem;
      object-fit: cover;
      top: 0;
      right: 10%;
   }
}