.hero {
  height: 25.375rem;
  background: #495e57;
}

.heroContainer {
  grid-template-columns: repeat(2, auto);
  column-gap: 4rem;

}

/* @media (min-width: 768px) {
  div.hero {
    padding: 0 20px;
  }
} */

.heroDescription {
  grid-template-rows: repeat(2, 1fr);
  row-gap: 3rem;
  margin-top: 3rem;
  color: #F4Ce14;
}

.heroDescription h1 {
  font-family: 'Markazi Text', serif;
  font-size: 3.5rem;
  line-height: normal;
  font-weight: 500;
}

.heroDescription h2 {
  font-family: 'Markazi Text', serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: normal;
}

.heroDescription p {
  font-family: 'Karla', serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 140.625%;
  margin-top: 1rem;
}

.hero-image {
  height: 30rem;
  margin-top: 1.5rem;
  object-fit: cover;
  border-radius: 16px;
}