.hero {
  
}

.hero-container {
  grid-template-columns: repeat(2, 1fr);
  gap: 3.5rem;
  height: 25.37rem;
  padding-left: 5%;
  padding-right: 5%;
  background: #495e57;
}

.hero-description {
  grid-template-rows: repeat(2, auto);
  align-content: space-between;
  max-height: 20.6875rem;
  color: #F4Ce14;
  padding-top: 2.9375rem;
  padding-bottom: 1.75rem;
}

.text h1 {
  font-family: 'Markazi Text', serif;
  font-size: 4rem;
  line-height: normal;
  font-weight: 500;
}

.text h2 {
  font-family: 'Markazi Text', serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1rem;
}

.text p {
  font-family: 'Karla', serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 140.625%;
  margin-top: 2rem;
}

.hero-description button {
  max-width: 12.5rem;
  max-height: 3.75rem;
  margin-top: 0;
  margin-bottom: 0;
}

.hero-image {
  justify-self: end;
  object-fit: cover;
  width: 100%;
  border-radius: 1rem;
  max-height: 26.875rem;
  margin-top: 1.4375rem;
}

@media (max-width: 37.5rem) {
  .hero {
    background: #495e57;
    padding-top: 1rem;
  }

  .hero-container {
    grid-template-columns: 1fr;
    justify-content: center;
    column-gap: 0;
    padding-left: 0;
    padding-right: 0;
    gap: 1rem;
    margin-bottom: 11.375rem;
  }

  .hero-description {
    grid-template-rows: 1fr;
    margin-bottom: 0;
    color: #F4Ce14;
    background: #495e57;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 23rem;
    padding-top: 1.75rem;
  }

  .hero-image {
    justify-self: start;
    object-fit: cover;
    width: 100%;
    border-radius: 0;
  }

  .hero-description button {
    margin-bottom: 1.75rem;
    width: 100%;
  }
}