.testimonials {
   grid-template-rows: repeat(2, auto);
   row-gap: 4rem;
   background: #D9D9D9;
}

.testimonials-container {
   margin-top: 7.625rem;
}

.testimonials-title {
   grid-template-columns: auto;
   justify-content: center;
}

.testimonials-title h1 {
   font-family: 'Markazi Text', serif;
   font-size: 2.25rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}

.testimonials-cards {
   grid-template-columns: repeat(3, 1fr);
   column-gap: 1.25rem;
   margin-top: 4.125rem;
}

@media (max-width: 37.5rem) {
   .testimonials-cards {
      grid-template-columns: 1fr;
      margin-top: 4.125rem;
      gap: 1rem;
   }
}