.specials {
   grid-template-rows: repeat(2, auto);
}

.specialsContainer {
   margin-top: 5.5rem;
}

.specialsTitle {
   grid-template-columns: repeat(2, auto);
   justify-content: space-between;
}

.specialsTitle h1 {
   font-family: 'Markazi Text', serif;
   line-height: normal;
   font-weight: 500;
}

.specialsCards {
   grid-template-columns: repeat(3, auto);
   column-gap: 2rem;
   margin-top: 3.5rem;
   margin-bottom: 4.75rem;
}