header {
  grid-template-columns: repeat(3, auto);
  min-height: 7.7rem;
}

/* @media (max-width: 1024px) {
  header {

  }
}

@media (max-width: 576px) {
  header {

  }
} */

.logo {
  grid-column: 1;
  justify-self: start;
  align-self: center;
}

.logo img {
  width: 12.5rem;
  height: 4.75rem;
}

.burger-menu {
  grid-column: 3;
  justify-self: end;
  align-self: center;
}

.burger-menu.hidden div {
  display: 0;
}

.burger-menu div {
  transition: opacity 0.3s ease-in-out;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 1024px) {
  .burger-menu div {
    display: none;
  }
}

.burger-menu img {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
  width: 1.5rem;
  height: 1.5rem;
}

.burger-menu .img-normal {
  z-index: 1;
}

.burger-menu .img-hover {
  opacity: 0;
  z-index: 2;
}

.burger-menu:hover .img-normal {
  opacity: 0;
}

.burger-menu:hover .img-hover {
  opacity: 1;
}

.menu {
  grid-template-rows: repeat(2, 25% 75%);
  align-items: start;
  left: 0;
  top: 0;
  right: 0;
  position: fixed;
  height: 100vh;
  background: #EDEFEE;
}

.menu-top {
  height: 7.7rem;
}

.menu-top .logo {
  width: 12.5rem;
  height: 4.75rem;
}

.menu .nav {
  align-self: start;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 1.25rem;
}

.burgerMenuLink {
  position: relative;
  color: #495E57;
  overflow: hidden;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
}