header {
  grid-template-columns: repeat(3, auto);
  min-height: 7.7rem;
}

/* @media (max-width: 1024px) {
  header {

  }
}

@media (max-width: 576px) {
  header {

  }
} */

.logo {
  grid-column: 1;
  justify-self: start;
  align-self: center;
  /* margin-top: 21px;
  margin-bottom: 26px; */
}

.logo img {
  width: 202px;
  height: 76px;
}

.burger-menu {
  grid-column: 3;
  justify-self: end;
  align-self: center;
}

.burger-menu.hidden div {
  display: 0;
}

.burger-menu div {
  transition: opacity 0.3s ease-in-out;
  position: relative;
  width: 24px;
  height: 24px;
}

@media (min-width: 1024px) {
  .burger-menu div {
    display: none;
  }
}

.burger-menu img {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
  width: 24px;
  height: 24px;
}

.burger-menu .img-normal {
  z-index: 1;
}

.burger-menu .img-hover {
  opacity: 0;
  z-index: 2;
}

.burger-menu:hover .img-normal {
  opacity: 0;
}

.burger-menu:hover .img-hover {
  opacity: 1;
}

.menu {
  left: 0;
  top: 0;
  right: 0;
  position: fixed;
  box-sizing: border-box;
  height: 100vh;
  background: #E8EFF9;
  margin: 0 auto;
  padding: 0 20px;
}

.menu-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 860px;
  height: 123px;
  margin: 0 auto;
}

.menu-top .logo {
  width: 202px;
  height: 76px;
  margin-top: 21px;
  margin-bottom: 26px;
}

.menu .nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-left: 20px;
}

.menu .nav a {
  text-decoration: none;
  position: relative;
  color: #333;
  overflow: hidden;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
}

.menu .nav a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 50%;
  background-color: #333;
  transform: translateX(-50%);
  transition: width 0.3s cubic-bezier(0.5, 0, 0.5, 1);
}

.menu .nav a:hover::before,
.menu .nav a:focus::before {
  width: 75%;
}