header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 123px;
  max-width: 860px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  header {
    padding: 0 20px;
  }
}

@media (max-width: 576px) {
  header {
    padding: 0 20px;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  width: 202px;
  height: 76px;
  margin-top: 21px;
  margin-bottom: 26px;
}

nav {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  margin-left: 45px;
}

@media (max-width: 1024px) {
  nav {
    display: none;
  }
}

nav ul {
  display: flex;
  align-items: center;
  gap: 28px;
}

nav ul li {
  list-style: none;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

@media (min-width: 1024px) {
  .burger-menu div {
    display: none;
  }
}

.burger-menu div {
position: relative;
margin-top: 50px;
width: 24px;
height: 24px;
}

.burger-menu img {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
}

.burger-menu .img-normal {
  z-index: 1;
}

.burger-menu .img-hover {
  opacity: 0;
  z-index: 2;
}

.burger-menu:hover .img-normal {
  opacity: 0;
}

.burger-menu:hover .img-hover {
  opacity: 1;
}



.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 500ms ease-in-out;
  box-sizing: border-box;
  height: 100vh;
  padding: 64px 120px;
  background: #E8EFF9;
}

@media (max-width: 1024px) {
  .menu {
    padding: 64px 72px;
  }
}

@media (max-width: 576px) {
  .menu {
    padding: 36px 20px;
  }
}

.menu:target {
  transform: translateX(-0%);
}

.menu-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

@media (max-width: 576px) {
  .menu-top {
    margin-bottom: 36px;
  }
}

.menu .nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.menu .nav-link {
  text-decoration: none;
  color: #292929;
  line-height: 22px;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
}