nav {
justify-self: end;
align-self: center;
}

nav ul {
display: flex;
gap: 28px;
}

nav ul li {
list-style: none;
font-family: 'Karla', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}

nav ul li a {
   position: relative;
   color: #495E57;
   overflow: hidden;
}

nav ul li a::before {
   content: '';
   position: absolute;
   width: 0;
   height: 2px;
   bottom: -5px;
   left: 50%;
   background-color: #F4CE14;
   transform: translateX(-50%);
   transition: width 0.3s cubic-bezier(0.5, 0, 0.5, 1);
}

nav ul li a:hover::before,
nav ul li a:focus::before {
   width: 75%;

}

/* Medium devices (tablets, less than 900px) */
@media (max-width: 56.25rem) {
   nav {
      display: none;
   }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 75rem) {

}